<div th:fragment="secondaryFig5(active)">
  <nav class="navbar-secondary">
    <a th:href="@{/fig5/am}" th:classappend="${active == 'AM'} ? 'active' : ''">AM</a>
    <a th:href="@{/fig5/exim}" th:classappend="${active == 'EXIM'} ? 'active' : ''">EXIM</a>
    <a th:href="@{/fig5/finance}" th:classappend="${active == 'FINANCE'} ? 'active' : ''">FINANCE</a>
    <a th:href="@{/fig5/ga}" th:classappend="${active == 'GA'} ? 'active' : ''">GA</a>
    <a th:href="@{/fig5/hrd}" th:classappend="${active == 'HRD'} ? 'active' : ''">HRD</a>
    <a th:href="@{/fig5/hse}" th:classappend="${active == 'HSE'} ? 'active' : ''">HSE</a>
    <a th:href="@{/fig5/it}" th:classappend="${active == 'IT'} ? 'active' : ''">IT</a>
    <a th:href="@{/fig5/vgm}" th:classappend="${active == 'VGM'} ? 'active' : ''">VGM</a>
    <a th:href="@{/fig5/assessment}" th:classappend="${active == 'ASSESSMENT'} ? 'active' : ''">ASSESSMENT</a>
    <a th:href="@{/fig5/factory}" th:classappend="${active == 'FACTORY'} ? 'active' : ''">FACTORY</a>
  </nav>
</div>