<!-- templates/fragments/navbar-base.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbarBase(primary)">
  <header>
    <h1>
      <a th:href="@{/}" style="color:#ffffff;text-decoration:none;">
        PT. Long Well International
      </a>
    </h1>
  </header>

 <nav class="navbar-primary">
    <a th:href="@{/fig5}"
       class="nav-link"
       th:classappend="${primary == 'FIG5'} ? ' active'">
       FIG5
    </a>

    <a th:href="@{/filw-on}"
       class="nav-link"
       th:classappend="${primary == 'FILW-ON'} ? ' active'">
       FILW-ON
    </a>

    <a th:href="@{/filw-nb}"
       class="nav-link"
       th:classappend="${primary == 'FILW-NB'} ? ' active'">
       FILW-NB
    </a>
</nav>
</div>

</body>
</html>