<div th:fragment="secondaryFig5(active)">
  <nav class="navbar-secondary">
    <a th:href="@{/am}" th:classappend="${active == 'AM'} ? 'active' : ''">AM</a>
    <a th:href="@{/exim}" th:classappend="${active == 'EXIM'} ? 'active' : ''">EXIM</a>
    <a th:href="@{/finance}" th:classappend="${active == 'FINANCE'} ? 'active' : ''">FINANCE</a>
    <a th:href="@{/ga}" th:classappend="${active == 'GA'} ? 'active' : ''">GA</a>
    <a th:href="@{/hrd}" th:classappend="${active == 'HRD'} ? 'active' : ''">HRD</a>
    <a th:href="@{/hse}" th:classappend="${active == 'HSE'} ? 'active' : ''">HSE</a>
    <a th:href="@{/it}" th:classappend="${active == 'IT'} ? 'active' : ''">IT</a>
    <a th:href="@{/vgm}" th:classappend="${active == 'VGM'} ? 'active' : ''">VGM</a>
    <a th:href="@{/assessment}" th:classappend="${active == 'ASSESSMENT'} ? 'active' : ''">ASSESSMENT</a>
    <a th:href="@{/factory}" th:classappend="${active == 'FACTORY'} ? 'active' : ''">FACTORY</a>
  </nav>
</div>