<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Daily Report - PT. LWI</title>
     <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form_it.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Navbar utama -->
    <div th:replace="fragments/navbar-base :: navbarBase(${primary})"></div>

    <!-- ===== SECONDARY NAVIGATION ===== -->
    <div th:replace="fragments/navbar-thirth :: navbarThirth(${thirth})"></div>

    <!-- ===== SECTION PETUNJUK IT ===== -->
    <section class="form-hero-gray">
        <div class="hero-content">
            <h2>DAILY REPORT</h2>
            <p>Pilih salah satu informasi dibawah ini untuk ditampilkan:</p>

             <div class="text-container">
                <ul>
                    <li th:each="file : ${files}">
                        <a th:href="@{'/pdfs/DAILY-REPORT/' + ${file}}"
                           th:text="${#strings.replace(file, '.pdf', '')}"
                           target="_blank">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

   <!-- ===== FOOTER ===== -->
    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>
