
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Home - PT. LWI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Header dan Nav -->
    <div th:replace="fragments/navbar-base"></div>   
    

    <!-- ===== HERO SECTION ===== -->
    <section class="hero">
        <div class="hero-content">
            <h2>Standard Operating Procedure</h2>
            <p>PT. Long Well International</p>
            <a th:href="@{/informasi_it}" class="btn">Informasi IT</a>
        </div>
    </section>

    <!-- ===== FOOTER ===== -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
